.center{
    text-align: center;
}

.red{
    color: rgb(168, 40, 40);
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.big{
    font-size: 35px;
    font-weight: bolder;
}

.small{
    font-size: 12px;
    font-weight: lighter;
}

.bold{
    font-weight: bold;
}

.changefont{
    font-family: 'Quicksand', sans-serif;
}

#special{
    font-size: 40px;
    font-weight: bold;
    color: orange;
}

.styledFont{

    font-family: 'Quicksand', sans-serif; 
    font-style: italic;
    color: purple;
}
